<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="menu" menuToggle></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ quoteGroup.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
    <ion-card-header>
      # {{ i + 1 }} on {{ date | date:'short' }}
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <p class="author">{{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
          ion-button
          small
          clear
          (click)="onAddToFavorite(quote)"
        *ngIf="!isFavorite(quote)">Favorite</button>
        <button
          ion-button
          small
          clear
          color="danger"
          *ngIf="isFavorite(quote)"
          (click)="onRemoveFromFav(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
